body {
  margin: 0;
  padding: 0;

  font-family: var(--ff);
  color: var(--gray-900);
}

a {
  color: var(--gray-700);
}

small {
  font-size: var(--fz-sm);
}

label {
  font-size: var(--fz-sm);
  color: var(--gray-200);
}

input,
textarea {
  font-family: inherit;
}
