@import url("./base.css");
@import url("./utils.css");

:root {
  --ff: Ubuntu, sans-serif;

  --fz-sm: 0.8rem;
  --fz: 1rem;
  --fz-md: 1.2rem;
  --fz-lg: 2rem;

  --round: 0.25rem;
  --round-md: 0.5rem;
  --round-lg: 1rem;

  --duration: 500ms;

  --gray-100: hsl(0, 0%, 90%);
  --gray-200: hsl(0, 0%, 80%);
  --gray-300: hsl(0, 0%, 70%);
  --gray-400: hsl(0, 0%, 60%);
  --gray-500: hsl(0, 0%, 50%);
  --gray-600: hsl(0, 0%, 40%);
  --gray-700: hsl(0, 0%, 30%);
  --gray-800: hsl(0, 0%, 20%);
  --gray-900: hsl(0, 0%, 10%);
}

.container {
  width: 1200px;
  margin-inline: auto;
}
