div[class*="flex"] {
  display: flex;
}

.items-center {
  align-items: center;
}

.gap-1 {
  gap: 1rem;
}

.text-gray {
  color: var(--gray-200);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-sm {
  font-size: var(--fz-sm);
}

.no-decoration {
  text-decoration: none;
}

.mb-1 {
  margin-bottom: 1rem;
}
